$color-form-background: $color-white;
$color-form-text: $color-black;

.auth {
	visibility: hidden;
	opacity: 0;
	z-index: 400;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	background: rgba($color-overlay, .9);

	&-form {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 386px + 30px;
		width: 360px;
		padding: 30px;
		border-radius: 4px;
		background: $color-form-background;
		color: $color-form-text;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		&-top {
			padding-bottom: 60px;

			&-h1 {
				display: inline-block;
				vertical-align: middle;
			}

			&-close {
				display: inline-block;
				vertical-align: middle;
				float: right;
				color: $wfg-color-blue;
				font-size: $font-size-big;
				cursor: pointer;

				&:hover {
					color: darken($wfg-color-blue, 15%);
				}
			}
		}

		&-label {
			font-size: $font-size-tiny;
			margin-top: 30px;
			color: $palette-grey-500;

			&:nth-child(2) {
				margin-top: 0;
			}
		}

		input:not([type="radio"]):not([type="checkbox"]) {
			width: 100%;
			padding: 10px 0;
			border: none;
			border-bottom: 1px solid $palette-grey-400;
			font-size: $font-size-small;
			
			&:focus {
				border-bottom: 1px solid $wfg-color-blue;
			}

			&::selection {
				background: $wfg-color-blue;
			}
		}

		&-version {
			margin-top: 60px;
			
			label {
				display: inline-block;
				vertical-align: middle;
				font-size: $font-size-small;
				
				&:last-child {
					margin-left: 20px;
				}	
							
				input[type="radio"] {
					display: none;
				}

				span {
					background: #fff;
					border: solid 4px $palette-grey-400;
					display: inline-block;
					width: 18px;
					height: 18px;
					border-radius: 100%;
					vertical-align: middle;
					margin-right: 5px;
					margin-top: -2px;
				}

				p {
					display: inline-block;
					vertical-align: middle;
				}

				input[type="radio"]:checked + span {
					border: solid 4px darken($wfg-color-blue, 15%);
				    background: darken($wfg-color-blue, 15%);
				}
			}
		}

		button {
			display: block;
			padding: 10px 60px;
			background: none;
			outline: none;
			font-weight: bold;
			background: $wfg-color-blue;
			color: $color-white;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			border: none;
			border-radius: 4px;
			width: 100%;

			&:hover {
				background: darken($wfg-color-blue, 15%);
			}
		}
	}
}

.is-show {
	visibility: visible;
	opacity: 1;
}

.is-hide {
	visibility: hidden;
	opacity: 0;
}