.header {
	
	.container {
	    display:flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-content: space-between;
	    align-items: center;
	    font-size: $font-size-small;
	    font-weight: bold;

	    @media screen and (max-width: 640px) {
	    	flex-direction: column;
	    }
	}

	&-logo {
		display: inline-block;
		flex-grow: 2;
		
		@media screen and (max-width: 640px) {
	    	width: 100%;
	    }

		&-img {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			background:transparent url('/data/img/logo-small.png') center center no-repeat;
			background-size: cover;
		}

		&-h1 {
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;

			div {
				&:first-child {
					font-weight: bold;
					font-size: $font-size;
				}

				&:last-child {
					margin-top: 5px;
					font-size: $font-size-tiny;
					font-weight: normal;
					letter-spacing: .2px;
				}
			}
		}
	}

	&-contacts {
		display: inline-block;
		flex-grow: 1;
		text-align: center;

		@media screen and (max-width: 640px) {
			margin-top: 25px;
	    	width: 100%;
	    	text-align: right;
	    	float: right;
	    }

		div {
			display: inline-block;
			margin-left: 30px;

			@media screen and (max-width: 640px) {
				margin-top: 5px;
		    	width: 50%;
		    	float: right;
		    }
		}
	}

	&-language {
		display: inline-block;
		flex-grow: 1;
		max-width: 70px;
		margin-right: 15px;

		@media screen and (max-width: 640px) {
			position: absolute;
			top: 15px;
			right: -15px;
	    }

		a {
			font-size: $font-size-tiny;

			&:first-child {
				margin-right: 5px;
				padding-right: 10px;
				border-right: 1px solid rgba($color-font, .1);;
			}
		}
	}

	&-account {
		display: inline-block;
		flex-grow: 1;
		max-width: 175px;

		@media screen and (max-width: 640px) {
			min-width: 100%;
			transform: translateY(-40px);	  
		}

		a {
			float: right;
			padding: 15px;
			border-radius: 4px;
			border: 1px solid;

			@media screen and (max-width: 640px) {
				float: left;
		    }
		}
	}
}

.descript {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 360px;

	@media screen and (max-width: 640px) {
		height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
		position: static;
    }

	&-h1 {
		font-size: 44px;
		@media screen and (max-width: 640px) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	&-h2 {
		margin-top: 60px;
		width: 90%;
		font-size: $font-size-big;
		line-height: $font-size + 10px;

		@media screen and (max-width: 640px) {
			font-size: 14px;
			line-height: 24px;
		}

		p {
			margin-top: 60px;
		}
	}
}

.footer {
	font-size: $font-size-small;
	position: absolute;
	bottom: 60px;
	padding-bottom: 0;

    @media screen and (max-width: 640px) {
		position: relative;
    	display: block;
    	margin-top: 60px;
    }

	.container {
		padding-top: 60px;
		border-top: 1px solid rgba($color-font, .1);
	}

	p {
		display: inline-block;
	}

	a {
		display: inline-block;
		margin-left: 15px;
		border-bottom: 1px dotted rgba($color-font, .3);
		padding-bottom: 5px;

		@media screen and (max-width: 640px) {
			margin-left: 0;
			margin-top: 10px;
	    }
	}
}